* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: helvetica;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
}

main .card-container {
  padding: 1em;
  width: 60%;
  margin: 5em auto;
  box-shadow: 4px 0 13px #ccc;
  border: 1px solid #ccc;
}

main .card-container h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  background: #f2f2f2;
  padding: 10px;
}
